modules = ["nodejs-20", "web", "postgresql-16"]
run = "npm run dev"
hidden = [".config", ".git", "generated-icon.png", "node_modules", "dist"]

[nix]
channel = "stable-24_05"
packages = ["jq", "unzip", "poppler_utils", "chromium"]

[deployment]
deploymentTarget = "vm"
build = ["npm", "run", "build"]
run = ["npm", "run", "start"]

[[ports]]
localPort = 5000
externalPort = 80

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[agent]
integrations = ["javascript_log_in_with_replit:1.0.0", "sendgrid:1.0.0", "google-calendar:1.0.0", "javascript_openai_ai_integrations:1.0.0", "javascript_object_storage:1.0.0", "stripe:2.0.0", "javascript_stripe:1.0.0"]

[userenv]

[userenv.shared]
VAPID_PUBLIC_KEY = "BKD3C8rqqUQKdtFhZDiIyoGZ2-q9gfv5tZ4TyckWF3rSIjdZ9W7gSzwRSThOwP7T9RwCd1linIFbWb83Rkw9_tw"
VAPID_PRIVATE_KEY = "G2E9rThV1O1P3XYQQ0ogb-EzMrHHm7mK0zn5fpukZQ8"
VAPID_SUBJECT = "mailto:theanimalhouse@comcast.net"
